{
    "tabWidth": 2,
    "parser": "typescript",
    "arrowParens": "always",
    "quoteProps": "consistent",
    "singleQuote": true,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "overrides": [
      {
        "files": "*.js",
        "options": { "parser": "babel" }
      },
      {
        "files": ".eslintrc",
        "options": { "parser": "json" }
      },
      {
        "files": ".prettierrc",
        "options": { "parser": "json" }
      },
      {
        "files": "*.json",
        "options": { "parser": "json" }
      },
      {
        "files": "*.scss",
        "options": { "parser": "scss" }
      },
      {
        "files": "*.html",
        "options": { "parser": "html" }
      }
    ]
  }